<html>
<head>
    <title>ICFPC</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/jquery-3.7.0.min.js"></script>
</head>
<body>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                Column
            </div>
            <div class="col">
                Column
            </div>
            <div class="col">
                Column
            </div>
        </div>
    </div>
<script>
</script>
</body>
</html>
