<html>
<head>
    <title>ICFPC</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/jquery-3.7.0.min.js"></script>
</head>
<body>
    <div class="container text-center">
        <div class="row">
            <table class="table align-middle table-striped">
                <tr th:each="solution: ${solutions}">
                    <td scope="row" th:text="${solution.id}"></td>
                    <td><img th:src="'/img/'+${solution.id}+'?imgSize=150'"></td>
                    <td th:text="${solution.problem.id}"></td>
                    <td th:text="${solution.score}"></td>
                </tr>
            </table>
        </div>
    </div>
<script>
</script>
</body>
</html>
